.home .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border: none;
}

.home .header h1 {
  font-size: 48px;
}

.home .header button {
  cursor: pointer;
}

.home .content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
}

.home .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border: none;
  border-top: 1px solid #E6E6E6;
}