.sidenav-container {
  mat-drawer-content {
    height: 100%;
    transition: margin $default-animation-duration/2 ease;

    > div {
      height: 100%;
    }
  }
}

.sidenav {
  position: relative;
  width: 300px;
  transition: $default-animation-duration;
  box-shadow: 0 2px 10px 0 rgba(42,53,63,0.1);

  logo {
    display: block;
    height: 90px;
    transition: $default-animation-duration;
    svg {
      height: 90px;
      transition: $default-animation-duration;
    }
  }

  &.closed {
    width: 54px;
    logo {
      svg {
        height: 75px;
      }
    }
    .sidenav-toggle {
      transform: scaleX(-1);
    }
  }

  .sidenav-toggle {
    position: absolute;
    right: 6px;
    top: 50px;
    transform-origin: center center;
  }

  .mat-list {
    .mat-list-item {
      height: auto;
    }

    hr {
      width: 100%;
      height: 1px;
      margin: 16px 0;
      background-color: color(light-gray);
    }

    .mat-button {
      min-width: 1px;
    }
  }
}

sidenav-item {
  width: 100%;

  .mat-button {
    text-align: left;
    padding: 0;
    width: 100%;
  }

  mat-list-item.mat-list-item {

    .mat-button-wrapper {
      display: flex;
      align-items: center;
    }

    .mat-list-item-content {
      padding: 0 !important;
    }

    mat-icon {
      color: color(dark-blue);
      margin: 0 15px;
    }

    mat-expansion-panel.mat-expansion-panel {
      margin: 0;
      padding: 0;
      box-shadow: none;
      width: 100%;

      mat-expansion-panel-header.mat-expansion-panel-header {
        padding: 0;
        background-color: color(off-white);
        font-size: $body-font-size;
      }

      .mat-expansion-panel-header-title {
        margin-right: 0;
      }

      .mat-expansion-panel-body {
        padding: 0;
      }

      .mat-expansion-indicator {
        margin: 0 30px;
      }

      &.sidenav-closed {
        .mat-expansion-indicator {
          display: none;
        }
      }

    }
  }
}
