@function color($color) {
  @return map-get($colors, $color)
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-start: flex-start;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.inline-block {
  display: inline-block;
}
